{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="ANI Grenoble regroupe des passionnés de culture Japonnais afin de partager leurs connaissance sur les mangas, animes et bien plus encore.">
  <meta name="keywords" content="manga, animes, Grenonle">
{% endblock %}

{% block site_body %}
	{{ parent() }}
	<h1>Contact</h1>
	<div class="back-ground-blanc">
		<div class="row">
		  	<div class="google-maps">
		  		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5623.608869422848!2d5.7644946!3d45.1910549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5082e7c56bb%3A0xd67a6f3be2ec788c!2sEVE+-+Espace+Vie+Etudiante!5e0!3m2!1sfr!2sfr!4v1477247716341" width="500" height="300" frameborder="0" style="border:0"></iframe>
		  	</div>
		</div>
		<div class="row contact">
			<div class="explication-contact">
				<p>Venez <b>discuter de mangas, karaoké et autres</b> thèmes en lien avec le Japon autour d'un animes avec nous. ANI Grenoble <b>vous accueil avec plaisir</b>.</p>
				<p>Vous pouvez nous contacter via notre page facebook ou directement par e-mail via le formulaire.</p>
			</div>
			<div class="coordonnes-contact">
				<h4>Coordonnés</h4>
				<p class="titre-coordonnes-contact">Horaires :</p>
				<p>Tous <b>les lundis</b>, de <b>18:00 à 20:00</b> sauf jours fériés et vacances scolaires.</p>
				<p class="titre-coordonnes-contact">Lieux :</p>
				<p><a target="_blank" href="http://www.eve-grenoble.fr/"><b>EVE</b></a> (Espace Vie Étudiante), bâtiment situé à coté de l'amphi Weil au milieu du campus de Saint Martin d'Hères. Arrêt tram B ou C entre Bibliothèque Universitaire et Gabriel Fauré (voir map au dessus).</p>
				<p class="titre-coordonnes-contact">Autre :</p>
				<p>Adresse email : ani.grenoble@gmail.com</p>
				<p>Facebook : <a class="lien-facebook-footer" target="_blank" href="https://www.facebook.com/groups/226434010895190/"><img alt="ani grenoble facebook" src="{{ asset('image/ani-grenoble-facebook.svg') }}"></a></p>
			</div>
			<div class="formulaire-contact-contact">
				<h4>Formulaire</h4>
                {{ form_start(form) }}
		    		{{ form_widget(form) }}
                {{ form_end(form) }}
                <p>* Champs obligatoire</p>
			</div>
		</div>
	</div>
{% endblock %}
