{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}	
	<h1>Contact</h1>

	<div class="back-ground-blanc">	
		<div class="row">
		  	<div class="google-maps">
		  		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5623.608869422848!2d5.7644946!3d45.1910549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5082e7c56bb%3A0xd67a6f3be2ec788c!2sEVE+-+Espace+Vie+Etudiante!5e0!3m2!1sfr!2sfr!4v1477247716341" width="500" height="300" frameborder="0" style="border:0"></iframe>
		  	</div>
		</div>
		<div class="row contact">
			<p class="explication-contact">Vous pouvez nous contacter via notre page facebook ou directement par e-mail via le formulaire.</p>
			<div class="coordonnes-contact">
				<h4>Coordonnés</h4>
				<p class="titre-coordonnes-contact">Horaires :</p>
				<p>Tous <b>les lundis</b>, de <b>18:00 à 20:00</b> sauf jours fériés et vacances scolaires.</p>
				<p class="titre-coordonnes-contact">Lieux :</p>
				<p><a target="_blank" href="http://www.eve-grenoble.fr/"><b>EVE</b></a> (Espace Vie Étudiante) situé sur le campus universitaire de Grenoble (voir map au dessus).</p>
				<p class="titre-coordonnes-contact">Autre :</p>
				<p>Adresse email : ani.grenoble@gmail.com</p>
				<a class="lien-facebook-footer" target="_blank" href="https://www.facebook.com/groups/226434010895190/"><img alt="ani grenoble facebook" src="{{ asset('image/ani_grenoble_facebook.svg') }}"></a>
			</div>
			<div class="formulaire-contact-contact">
				<h4>Formulaire</h4>
				<form action="{{ path('ani_grenoble_contact_contact') }}" method="post" {{ form_enctype(form) }}>
		    		{{ form_widget(form) }}
		    		<input class="btn btn-primary" type="submit" />
				</form>
			</div>
		</div>	  	
	</div>
{% endblock %}