<h3>Formulaire d'image</h3>

<div class="form row">
	{{ form_start(form) }}

    {% if form_errors(form) or form_errors(form.url) or form_errors(form.alt) or form_errors(form.categorie)%}
	    <div class="card-panel yellow lighten-3">
		    {{ form_errors(form) }}
		    {{ form_errors(form.url) }}
		    {{ form_errors(form.alt) }}
		    {{ form_errors(form.categorie) }}
		</div>
	{% endif %}

    <div class="row">
		{{ form_label(form.url, "Image URL (uniquement si l'image est sur le web)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form.alt, "Image alt", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(form.alt, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form.file, "Image fichier (uniquement si l'image est sur votre ordianateur)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
		{{ form_label(form.categorie, "Categorie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(form.categorie, {'attr': {'class': 'browser-default'}}) }}
    </div>

  	{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

  	{{ form_rest(form) }}

  	{{ form_end(form) }}
</div>
