<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        {% block stylesheets %}          
            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">         
            {% stylesheets 'css/materialize.min.css' 'css/custom.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}               
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo" href="{{ path('ani_grenoble_app_homepage') }}"><img alt="ani grenoble"src="{{ asset('image/ani-grenoble.jpg') }}"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                    <ul class="right hide-on-med-and-down">                      
                        <li>
                            <a class="nav-link" href="{{ path('ani_grenoble_app_a_propos') }}">A propos</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('ani_grenoble_contact_contact') }}">Contact</a>
                        </li>
                        <!-- On n'affiche le lien qu'au utilisateur abilités -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                            
                            <li>
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                            </li>
                        {% endif %}                       
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a class="nav-link" href="{{ path('ani_grenoble_app_a_propos') }}">A propos</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('ani_grenoble_contact_contact') }}">Contact</a>
                        </li>
                        <!-- On n'affiche le lien qu'au utilisateur abilités -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                         
                            <li>
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                            </li>
                        {% endif %}                         
                    </ul>                        
                </div>
            </nav>
         
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="card-panel pink lighten-5">
                    <p class="">Bonjour {{ app.user.username }}.
                    {% if is_granted('ROLE_SUPER_ADMIN') %}                   
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Ajouter un utilisateur<span class="sr-only">(current)</span></a> |
                    {% endif %}
                    <a class="nav-link" href="{{ path('ani_grenoble_app_annonce_add') }}">Ajouter un article<span class="sr-only">(current)</span></a> |
                    <a class="nav-link" href="{{ path('fos_user_change_password') }}">Change mot de passe</a>
                    </p>
                </div> 
            {% endif %}

            {% block body %}
            {% endblock %}

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Nous rejoindre</h5>
                            <a class="lien-facebook-footer" target="_blank" href="https://www.facebook.com/groups/226434010895190/"><img alt="ani grenoble facebook" src="{{ asset('image/ani-grenoble-facebook.svg') }}"></a>
                            <p class="grey-text text-lighten-4">Ne faites pas vos Hikikomori et rejoinez-nous !</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Plan du site</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="{{ path('ani_grenoble_app_a_propos') }}">A propos</a></li>
                                <li><a class="grey-text text-lighten-3" href="{{ path('ani_grenoble_contact_contact') }}">Contact</a></li>
                                <li><a class="grey-text text-lighten-3" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container center-align">
                        Copyright © {{ 'now'|date('Y') }}. Tous droits réservés
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            {% javascripts  'js/jquery-3.1.1.min.js''js/materialize.min.js''js/app.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts  %}
        {% endblock %}
    </body>
</html>