{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}A propos - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}	
  <h1>A propos</h1>

  <div class="back-ground-blanc">
  	<div class="row qui-sommes-nous-a-propos">
			<h2>Qui sommes-nous ?</h2>
			<p>Crée depuis 2013, ANI Grenoble est une association grenobloise intéressé par la "Culture Populaire Japonaise". Elle est essentiellement constituée d'étudiants qui partagent leur passion durant les réunions hébdomadaires ou les soirées spéciales.</p>
      <p class="phrase-japonnaise">昇る太陽の国</p>
  	</div>
  	<div class="row">
			<h2>Que faisons-nous ?</h2>
      <div class="reunions-hebdomadaires-a-propos">
        <h3> Les réunions hébdomadaires</h3>
  			<p>Les réunions hébdomadaires se font une fois par semaine en fin d'après midi et durent 2 heures environ. Vous pouvais retrouver la <b>date de la prochaine réunion sur <a target="_blank" href="https://www.facebook.com/groups/226434010895190/">notre page facebook</a></b> ainsi que le détail de se qu'il s'est passé. Vous pouvaiez également retrouver se détail sur la page d'<a href="{{ path('ani_grenoble_app_homepage') }}">accueil du site</a>.</p>
        <p>Généralement, nous regardons deux <b>épisodes d'animes</b> ensemble sur grand écran généralement en japonais avec des sous-titres en français soit en anglais. Par la suite, nous faisons d'autres activités en réstant, biensûr, sur le thème du <span style="white-space: nowrap;">Japon :</span></p>
        <div class="activites-reunions-hebdomadaires-a-propos">
          <div class="row">
            <div class="col l4 m4 s12">
                <p class="card-title">Quizz</p>
            		<img alt="ani grenoble blind test" src="{{ asset('image/a_propos/ani_grenoble_quizz.png') }}">
            </div>
            <div class="col l4 m4 s12">
                <p class="card-title">Présentations / exposés</p>
            		<img alt="ani grenoble presentations exposés" src="{{ asset('image/a_propos/ani_grenoble_presentations_exposes.png') }}">
            </div>
            <div class="col l4 m4 s12">        
                <p class="card-title">Cosplay</p>
            		<img alt="ani grenoble cosplay" src="{{ asset('image/a_propos/ani_grenoble_cosplay.jpg') }}">
            </div>
          </div>
          <div class="row">          
          	<div class="col l4 m4 s12">
                <p class="card-title">Karaoke</p>
              	<img alt="ani grenoble karaoke" src="{{ asset('image/a_propos/ani_grenoble_karaoke.jpg') }}">
          	</div>            
          	<div class="col l4 m4 s12">
                <p class="card-title">Jeux vidéos japonais</p>
              	<img alt="ani grenoble jeux vidéos japonais" src="{{ asset('image/a_propos/ani_grenoble_jeux_videos_japonais.jpg') }}">
          	</div>            
          	<div class="col l4 m4 s12">
                <p class="card-title">Visual Novel</p>
              	<img alt="ani grenoble visual novel" src="{{ asset('image/a_propos/ani_grenoble_visual_novel.jpg') }}">
            </div>
          </div>
        </div>  
      </div>
      <div class="soirees-speciales-a-propos">
        <h3> Les soirées spéciales</h3>
        <p>Pendant l'année, nous faisait des soirées spéciales avec un thème en rapport avec le Japon défini à l'avance. L'entrée est ouvertes à toutes personnes souhaitant y participer en échage d'une petite participation <span style="white-space: nowrap;">monétaire :)</span></p>
        <p>Durant les soirés nous vous proposont de participer à de nombreux jeux tels que <b>des blind test, des time-up ou encore des concours de cosplay</b> en liens avec le thème. Les dates des soirées sont communiqués sur notre site web et <a target="_blank" href="https://www.facebook.com/groups/226434010895190/">notre page facebook</a>. Les soirées se déroules dans divers lieux : cafés manga, ateliers de dessins manga, etc.</p>
        <div class="row affiches-soirees-speciales-a-propos">
          <p>Les affiches ne nos soirées :</p>
          <div class="col l4 m4 s12">        
            <img class="materialboxed" alt="affiche-soirée-ani-grenoble-09-05-2016"src="{{ asset('image/affiche/ani_grenoble_affiche_09_05_2016.png') }}">
          </div>
        </div>
      </div>
  	</div>
  	<div class="row derniere-row-a-propos">
      <p>Nous sommes ouvert à toutes personnes quelles soient étudiante ou non et si cela vous intéresse, n'hésitez pas à <a href="#">nous <span style="white-space: nowrap;">rejoindre !</span></a></p>
        <p>Les membres de l'ANI Grenoble. </p>
  	</div>
  </div>
{% endblock %}