{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="Association ANI Grenoble, club d'animes, manga, blind test, cosplay, et autre activités en lien avec la culture du Japon.">
  <meta name="keywords" content="manga, animes, Grenonle, cosplay">
{% endblock %}

{% block site_body %}
  {{ parent() }}
  <h1>Bienvenue chez <span style="white-space: nowrap;">ANI Grenoble,</span></h1>
  <p class="p-titre-index">le club anime des Universités de <span style="white-space: nowrap;">Grenoble !</span></p>
  <div class="back-ground-blanc">
    {% for AnnonceEvenement in listeAnnoncesEvenement %}
      <div class="row">
        <div class="col s12 div-evenement">
          <div class="card horizontal hoverable">
            <div class="card-image">
              {% if AnnonceEvenement.image is not null %}
                <img src="{{ asset(''~AnnonceEvenement.image.url~'') }}">
              {% else %}
                <p>Pas de visuel</p>
              {% endif %}
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>{{ AnnonceEvenement.contenu|nl2br }}</p>
              </div>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="card-action">
                  <a href="{{ path('ani_grenoble_admin_annonce_edit', {'id': AnnonceEvenement.id}) }}">Modifier</a>
                  <a href="{{ path('ani_grenoble_admin_annonce_delete', {'id': AnnonceEvenement.id}) }}">Suprrimer</a>
                </div>
              {% endif %}
            </div>
          </div>
    		</div>
      </div>
    {% endfor %}

    <div class="row">
      <h2>Bilan des réunions hebdomadaires</h2>
      <p>Chaque semaine nous nous retrouvons autour d'animes, blind tests, exposés et autres activités en lien avec la culture populaire du Japon.</p>
      <div class="blian-index">
        <p>Retrouvez ci-dessous les bilans de nos réunions hebdomadaires :</p>
      </div>
      {% for AnnonceReunionHebdomadaire in listeAnnoncesReunionHebdomadaire %}
        <div class="col l4 m6 s12 element-up">
          <div class="card small sticky-action hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              {% if AnnonceReunionHebdomadaire.image is not null %}
                <img class="activator" src="{{ asset(''~AnnonceReunionHebdomadaire.image.url~'') }}" alt="{{ AnnonceReunionHebdomadaire.image.alt }}">
              {% else %}
                <p>Pas de visuel</p>
              {% endif %}
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ AnnonceReunionHebdomadaire.titre|capitalize }}<i class="material-icons right">more_vert</i></span>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <div class="card-action">
                <a href="{{ path('ani_grenoble_admin_annonce_edit', {'id': AnnonceReunionHebdomadaire.id}) }}">Modifier</a>
                <a href="{{ path('ani_grenoble_admin_annonce_delete', {'id': AnnonceReunionHebdomadaire.id}) }}">Suprrimer</a>
              </div>
            {% endif %}
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ AnnonceReunionHebdomadaire.titre|capitalize }}<i class="material-icons right">close</i></span>
              <p>{{ AnnonceReunionHebdomadaire.contenu|capitalize |nl2br}}</p>
              <p>par {{ AnnonceReunionHebdomadaire.auteur }},</p>
              <p>le {{ AnnonceReunionHebdomadaire.date|date('d/m/Y') }}</p>
            </div>
          </div>
        </div>
      {% else %}
        <p>Pas (encore !) d'annonce</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
