{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}
<p>Hello World!</p>
{% for AnnonceEvenement in listeAnnoncesEvenement %}
  <div class="row">
    <div class="col m12">
      <h2 class="header">{{ AnnonceEvenement.titre }}</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ AnnonceEvenement.contenu }}</p>
          </div>
        </div>
		</div>
    </div>
{% else %}
  <li>Pas (encore !) d'evenement</li>
{% endfor %}

<div class="row">
  {% for AnnonceReunionHebdomadaire in listeAnnoncesReunionHebdomadaire %}
    <div class="col m4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ AnnonceReunionHebdomadaire.image.url }}" alt="{{ AnnonceReunionHebdomadaire.image.alt }}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ AnnonceReunionHebdomadaire.titre }}<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ AnnonceReunionHebdomadaire.titre }}<i class="material-icons right">close</i></span>
          <p>{{ AnnonceReunionHebdomadaire.contenu }}</p>
          <p>par {{ AnnonceReunionHebdomadaire.auteur }},</p>
          <p>le {{ AnnonceReunionHebdomadaire.date|date('d/m/Y') }}</p>
        </div>
      </div>
    </div>
  {% else %}
    <li>Pas (encore !) d'annonce</li>
  {% endfor %}
</div>

{% endblock %}
