{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Photos - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="Association ANI Grenoble, club d'animes, manga, blind test, cosplay, et autre activités en lien avec la culture du Japon.">
<meta name="keywords" content="manga, animes, Grenonle, cosplay">
{% endblock %}

{% block site_body %}
{{ parent() }}
<h1>Photos de ANI Grenoble</span></h1>
<div class="back-ground-blanc">
    <div class="row photos">
        {% for photo in photos %}
        <div class="photo">
            <a href="{{asset (photo.url)}}" class="contenu"><img src="{{asset (photo.url)}}" alt="{{photo.alt}}"></a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="action">
                    <a href="{{path('ani_grenoble_admin_image_edit', {id : photo.id})}}">Modifier</a>
                    <a href="{{path('ani_grenoble_admin_image_delete', {id : photo.id})}}">Supprimer</a>
                </div>
            {% endif %}
        </div>
        {% else %}
        <p>Pas (encore !) d'image</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
